.btn {
    display: block;
    width: 100%;
    font-size: 1.3em;
    color: #ffffff;
    outline: none;
    padding: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s ease;
}

.btn-good {
    background-color: #03a803;
}

.btn-neutral {
    background-color: #1e90ff;
}

.btn-bad {
    background-color: #555555;
}

.btn-good:hover {
    color: #000000;
    background-color: transparent;
    border: 2px solid #03a803;
}

.btn-neutral:hover {
    color: #000000;
    background-color: transparent;
    border: 2px solid #1e90ff;
}

.btn-bad:hover {
    color: #000000;
    background-color: transparent;
    border: 2px solid #555555;
}