#options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0;
    padding: 0 8px;
  }
  
  .average, .positive, .total {
    font-size: 1.7em;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    margin: 8px 0;
  }
  
  .figure {
    background-color: #e0e3f0;
    font-size: 1.5em;
    vertical-align: middle;
    padding: 0 10px;
  }

  .no-feedback {
    margin: auto 0;
  }

  .no-feedback > h2, .no-feedback > p {
    text-align: center;
  }

  .no-feedback > p {
    font-size: 1.2em;
  }